{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Make A Wish | Angelina Art Spot{% endblock title %}</title>
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="keywords" content="event planning, event decoration, Lebanon, wedding planner, birthday parties, special events, event management, professional event services, Make.A.Wish">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Make.A.Wish Event Planning">

    <meta name="description" content="Make.A.Wish offers professional event planning and decoration services in Lebanon. We specialize in creating unforgettable birthday parties, weddings, and special events, tailored to your unique vision and style.">
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    {% block css %}{% endblock css %}
</head>
<body>
  
  <div class="pl">
    <svg viewBox="0 0 100 100">
      <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
        <!-- left line -->
        <path d="M 21 40 V 59">
          <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="rotate"
          values="0 21 59; 180 21 59"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <!-- right line -->
        <path d="M 79 40 V 59">
          <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="rotate"
          values="0 79 59; -180 79 59"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <!-- top line -->
        <path d="M 50 21 V 40">
          <animate
          attributeName="d"
          values="M 50 21 V 40; M 50 59 V 40"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <!-- btm line -->
        <path d="M 50 60 V 79">
          <animate
          attributeName="d"
          values="M 50 60 V 79; M 50 98 V 79"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <!-- top box -->
        <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
        <animate
          attributeName="stroke"
          values="rgb(115, 115, 115); rgba(100,100,100,0)"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <!-- mid box -->
        <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z"/>
        <!-- btm box -->
        <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
        <animate
          attributeName="stroke"
          values="rgba(100,100,100,0); rgb(115, 115, 115)"
          dur="2s"
          repeatCount="indefinite" />
        </path>
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="translate"
          values="0 0; 0 -19"
          dur="2s"
          repeatCount="indefinite" />
      </g>
    </svg>
</div>
{% comment %} <button id="startAudioButton" class="leftbtn">Start Audio</button>
<audio id="backgroundAudio" loop>
<source src="{%static 'images/audio.mp3'%}" type="audio/mp3">
  Your browser does not support the audio element.
</audio> {% endcomment %}
      <nav class="navbar navbar-expand-custom navbar-mainbg p-0">
        <a class="navbar-brand navbar-logo py-0" href="#"><img src="{%static 'images/logo.png'%}" alt="" height="60px" width="60px"></a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}#aboutUsId"><i class="fa-regular fa-address-card"></i> About Us</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}#weDoItAllId"> <i class="fa-solid fa-rectangle-list"></i> Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}#weDoItAllId"><i class="fa-regular fa-image"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}#Contact__Us"><i class="fa-solid fa-square-phone"></i> Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "start_plan" %}"><i class="fa-regular fa-circle-play"></i> Start Planning</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="allContent" id="content">
{% block main %}{% endblock main %}
    </div>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Make.A.Wish & Angelina.Art.Spot Lebanon, established in 2023, is a premier event planning and decoration service based in West Beqaa, Kherbet Qanafar, Lebanon. We are dedicated to crafting unforgettable experiences. Founded by Elida Khater and Angelina Kassis, our team is passionate about bringing dream events to life with creativity and precision. Our talented staff—Elie Khater, Joe Abboud, Yousif Chakrina, and Clarita Kassis—work tirelessly to ensure every detail is perfect. Behind the scenes, Peter Khater, our skilled developer, enhances our digital presence. At Make.A.Wish, we transform visions into reality, making every occasion truly special.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="">Birthdays</a></li>
            <li><a href="">Bride To Be</a></li>
            <li><a href=""></a>New Born</li>
            <li><a href="">Baptisms</a></li>
            <li><a href="">First Communion</a></li>
            <li><a href="">Animation</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 <span id="toYear"> <span> </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- jQuery -->
    <script src="{%static 'js/base.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
{% block js %}{% endblock js %}
</body>
</html>