{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
{% endblock css %}

{% block main %}

<canvas id="balloonCanvas"></canvas>
<div id="carouselExampleIndicators" class="carousel slide vh-lg-100" data-ride="carousel" data-interval="">
    <div class="carousel-text"><p>Your Special Day<br>
        With Special Events</p><br><br class="d-md-none"><br class="d-md-none"><br class="d-md-none"> <br class="d-md-none"> <br class="d-md-none"> <br class="d-md-none"> <a class="startPlanning" href="{% url "start_plan" %}">Start Planning</a></div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" style="height:100%;">
        <div class="carousel-item active" data-interval="" style="height:100%;">
            <video class="d-block w-100" style="height: 100vh; object-fit: cover;" src="{% static 'images/VID-20250131-WA0005.mp4' %}" autoplay muted loop playsinline></video>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<button id="toggleButton" >Turn Off Balloons</button>
{% comment %} <button id="startAudioButton" class="leftbtn">Start Audio</button>
<audio id="backgroundAudio" autoplay loop>
<source src="{%static 'images/audio.mp3'%}" type="audio/mp3">
  Your browser does not support the audio element.
</audio> {% endcomment %}

<div class="container my-5">
    <div class="row rounded-lg shadow-lg" style="border: 2px solid #C3B091;">
  {% for cat in category %}
  <div class="col-lg-2 col-md-4 col-6 goingup">
    <div class="container eashCateCont">
      <div class="imgcon d-flex justify-content-center align-items-center rounded-circle p-3 mt-2">
        {% if cat.icon and cat.icon.name %}
          <img src="{{ cat.icon.url }}" class="category_img" alt="{{ cat.name }}">
        {% else %}
          <img src="https://via.placeholder.com/150" class="category_img" alt="Placeholder Image">
        {% endif %}
      </div>
      <div class="text_cont">
        <p class="fw-bold fs-3 text-center counter" data-target="{{ cat.event_count }}">0+</p>
        <p class="text-center fw-bold category">{{ cat.name }}</p>
      </div>
    </div>
  </div>
{% endfor %} 

        
    </div>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="image-container">
                <img src="{%static 'images/th (1).jpeg'%}" alt="Background" class="background-image">
                <img src="{%static 'images/team.jpeg'%}" alt="Elida khater & Angelina Kassis" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-md-6 text-center text-md-start mt-3">
            <h2 class="h2About" id="aboutUsId">Special Events Lebanon, Where All Your Dreams Come to Reality!</h2>
            <p>Make.A.Wish & Angelina.Art.Spot Lebanon, <span style="background-color: #9b9e9f;">established in 2023</span>, is a premier event planning and decoration service based in West Beqaa, Kherbet Qanafar, Lebanon. We are dedicated to crafting unforgettable experiences. Founded by Elida Khater and Angelina Kassis, our team is passionate about bringing dream events to life with creativity and precision. Our talented staff—Elie Khater, Joe Abboud, Yousif Chakrina, and Clarita Kassis—work tirelessly to ensure every detail is perfect. Behind the scenes, Peter Khater, our skilled developer, enhances our digital presence. At Make.A.Wish, we transform visions into reality, making every occasion truly special.</p>
            <div class="d-flex justify-content-center justify-content-md-start gap-3 mt-3">
                <a href="{% url "home" %}#weDoItAllId" style="color:inherit; text-decoration:none;"><button class="custom-btn">Our Services</button></a>
                <button class="custom-btn2"><a style="color: inherit; text-decoration: none;" href="https://wa.me/+96179320143">Contact Us</a></button>
            </div>
        </div>
    </div>
</div>

<div class="container my-5" style="margin:50px auto;">
    <div class="special-section">
        <p class="small-text">Who’s Next?</p>
        <h2 class="section-title">Let’s Make Your Next Event Special</h2>
        <p class="section-description">
            At Special Events, we design unique, elegant, and unforgettable experiences tailored to your vision. Every occasion should be extraordinary, leaving lasting memories for your guests and a cherished experience for you.
        </p>
        <div class="button-group">
            <a href="{% url 'start_plan' %}" style="text-decoration:none; color:inherit;"><button class="custom-btn pink-btn">Start Planning Now</button></a>
            <a style="color: inherit; text-decoration: none;" href="https://wa.me/+96179320143"><button class="custom-btn dark-btn c_b_2">Contact Us</button></a>
        </div>
    </div>
</div>
<div class="center my-5">
    <div class="container text-dark">
      <h2 class="gallery_title text-center">Capturing Unforgettable Moments</h2>
    <p class="gallery_description text-center">
        Dive into our visual showcase, showcasing a carefully curated collection of remarkable events. Witness the enchantment we bring to every occasion through breathtaking images. Experience the essence of Special Events — where each photo narrates a one-of-a-kind story.
    </p>
    </div>
    <div class="carousel">
      <div class="controls">
        <button type="button" class="btn" onclick="moveLeft()">
          <span class="material-icons-outlined">arrow_back_ios</span>
        </button>
        <button type="button" class="btn" onclick="playPause()">
          <span class="material-icons-outlined icon">pause</span>
        </button>
        <button type="button" class="btn" onclick="moveRight()">
          <span class="material-icons-outlined">arrow_forward_ios</span>
        </button>
      </div>
      <div class="slide-center">
        <div class="slider">
        {% for gall in gallery %}
          <div class="slide1 active">
            <img src="{{gall.image.url}}" alt="{{gall.photoGrapher}}" />
            <div class="desc">{{gall.photoGrapher}}</div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="video2Container rounded-lg container mt-5 d-flex justify-content-center align-item-center" style="margin-top:70px;">
    <video class="d-block w-100 rounded-lg video2" src="{% static 'images/video1.mp4' %}" autoplay muted loop></video>
</div>

<section class="WhatWeDo container mt-5 bg-light">
  <h2 class="WhatWeDo-title text-dark" id="weDoItAllId">We Do It All!</h2>
  <p class="WhatWeDo-subtitle text-dark">Unforgettable events tailored just for you. From concept to execution, we make every detail count.</p>
  
  <div class="WhatWeDo-grid">
    {% for cat in category %}
      <a href="{% url 'service' cat.id %}" class="WhatWeDo-card bg-dark goingup">
          <img src="{{cat.icon.url}}" alt="{{cat.name}}" class="WhatWeDo-icon">
          <p class="WhatWeDo-text text-light">{{cat.name}}</p>
      </a>
    {% endfor %}
  </div>
</section>


<div class="container-fluid">
    <div class="whatWeDoTextContainer">
        <h2 class="whatWeDoTitle text-center pt-5">Read From Our BLog</h2>
        <p class="whatWeDoDescription text-center text-dark">Explore the World of Unforgettable Moments with Our Event Planning Blog</p>
    </div>

    <section class="cards-wrapper">
      {% for blog in blog %}
        <div class="card-grid-space">
          {% comment %} <div class="num">01</div> {% endcomment %}
          <a class="card" href="" style="--bg-img: url({{blog.image.url}})">
            <div>
              <h1>{{blog.title}}</h1>
              <p>{{blog.description}}</p>
              <div class="date">{{blog.uploaded_at}}</div>
              {% comment %} <div class="tags">
                <div class="tag">HTML</div>
              </div> {% endcomment %}
            </div>
          </a>
        </div>
        {% endfor %}
      </section>
</div>





<div class="container my-5 " id="Contactez_nous" >
    <div class="row">
      <!-- Contact Form Section -->
      <div class="col-md-6 p-4 bg-light contact-form-box ">
        <h2 class="mb-4" style="color:#333;" id="Contact__Us">Contact Us</h2>
        <form id="contactForm">
          <div class="mb-3">
            <label for="fullName" class="form-label">Name</label>
            <input type="text" id="fullName" class="form-control contact-input" placeholder="Name" required>
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" id="subject" class="form-control contact-input" placeholder="Subject" required>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" rows="4" class="form-control contact-input" placeholder="Message" required></textarea>
          </div>
          <button type="button" class="btn w-100 contact-button" onclick="sendMessage()" id="sendmessageBtn" number="+96179320143">Send Message</button>
        </form>
      </div>
      <!-- Map Section -->
      <div class="col-md-6 p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d193.54636780004998!2d35.71762987139899!3d33.64044747613586!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f2767eb15fed5%3A0x418261865a070f05!2smake%20a%20wish!5e1!3m2!1sen!2slb!4v1738495551105!5m2!1sen!2slb"  width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        class="contact-map "></iframe>
      </div>
    </div>

{% endblock main %}

{%block js%}
<script src="{%static 'js/home.js'%}"></script>
{%endblock js%}